* {
  padding: 0;
  margin: 0;
}

@font-face {
    font-family: Norse-Bold;
    src: url(assets/Norse-Bold.otf);
}

body {
    background-color: whitesmoke;
    font-family: Norse-Bold;
    display: flex;
    flex-direction: row;
}

.img-container {
    width: 600px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
}

#img-id {
    width: 600px;
    height: 100vh;
    position: absolute;
}

.card-body {
    position: absolute;
    width: 600px;
    display: flex;
    background-color: black;
    opacity: 0.5;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 6rem;
    margin-top: 200px;
}

#logo {
    height: 100px;
}

